body{
    width:100%;
}

canvas{
    width: 80%;
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
}

.hiddenRadioButton{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.radioImage{
    cursor:pointer;
}
[type=radio]:checked + img {
    opacity:0.3;
    background-color: #2d47a1;
}