body{
    width:100%;
}

canvas{
    width: 80%;
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

.hiddenRadioButton{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.radioImage{
    cursor:pointer;
}
[type=radio]:checked + img {
    border-color: #00ffff;
    border-width: 2px;
    border-style: solid;
}
#choose2Computer, label[for='choose2Computer']{
    visibility: hidden;
}

.labelTypeOfGame{
    background-color: #a5a1a1;
    border: #ffffff;
}

.inputTypeOfGame:checked + label{
    background-color: #00ffff;
}