body{
    width:100%;
}

.navbar{
    display: flex;
    background-color: black;
    color:#ffffff;
}

.navbar ul{
    display: flex; 
    justify-content: space-evenly;
    width:auto;
}

.navbar a{
    text-decoration: none;
    color:#ffffff;
}

.navbar li{
    list-style-type: none;
}

canvas{
    width: 100%;
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
}

.hiddenRadioButton{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.radioImage{
    cursor:pointer;
}
[type=radio]:checked + img {
    border-color: #00ffff;
    border-width: 2px;
    border-style: solid;
}
#choose2Computer, label[for='choose2Computer']{
    visibility: hidden;
}

.labelTypeOfGame{
    background-color: #a5a1a1;
    border: #ffffff;
}

.inputTypeOfGame:checked + label{
    background-color: #00ffff;
}

#draw50Moves{
    visibility: hidden;
}


.resposiveFontSize{
    font-size: 4vw;
}

@media screen and (min-width: 750px){
    .resposiveFontSize{
        font-size: 30px;
    }  
}