<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "../static/css/index.css">
        <script type="text/javascript" src="../static/js/chess.js" charset="UTF-8" defer></script>
        <title> Victor's chess</title>
    </head>
    <body>
        <div id="initialPage">
            <section id="gameSettings">
                <label>
                    <input type="radio" id="black" name="color" value="black" class="hiddenRadioButton">
                    <img class="radioImage" src="../static/images/blackKing.jpg">
                </label>
                <label>
                    <input type="radio" id="random" name="color" value="random" class="hiddenRadioButton">
                    <img  class="radioImage" src="../static/images/randomKing.png">
                </label>
                <label>
                    <input type="radio" id="white" name="color" value="white" class="hiddenRadioButton">
                    <img  class="radioImage" src="../static/images/whiteKing.jpg">
                </label>
                <div>
                    <label for="choose1Computer">CPU Player</label>
                    <select id="choose1Computer">
                    </select>
                    <label for="choose2Computer">CPU Player</label>
                    <select id="choose2Computer">
                    </select>
                </div>
            </section>
        </div>
        <canvas id="gameCanvas">
            
        </canvas>
    </body>
</html>